body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

#messages {
  background: #020617;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  border-radius: 8px;
}

.message {
  text-align: left;
  margin-bottom: 8px;
}

audio {
  width: 100%;
}
